extends ../layout-min

block content
  .header.bg-gradient-primary.pb-5.pt-5.pt-md-6

  .container-fluid.mt--12
    .row
      .card.bg-secondary.shadow        
        .card-body
          form(method="post",action="/users/update/"+user.id)
            h6.heading-small.text-muted.mb-4 User information
            .pl-lg-4
              .row
                .col-lg-4
                  .form-group.focused
                    label.form-control-label(for='name') name
                    input#name.form-control.form-control-alternative(type='text' placeholder='TMall supermarket' name='name' required value=user.name)
                .col-lg-4
                  .form-group
                    label.form-control-label(for='location') Location
                    input#location.form-control.form-control-alternative(type='text' placeholder='location' name='location' required value=user.location)
                .col-lg-4
                  .form-group.focused
                    label.form-control-label(for='contacts') Contacts
                    input#contacts.form-control.form-control-alternative(type='text' placeholder='First name' name='contacts' required value=user.contacts)
                .col-lg-4
                  .form-group.focused
                    label.form-control-label(for='email') Email
                    input#email.form-control.form-control-alternative(type='text' placeholder='Email' name='email' value=user.email)
                .col-lg-4
                  .form-group.focused
                    label.form-control-label(for='category') Category
                    select#category.form-control.form-control-alternative(name="category" required)
                      option(value=user.category.id)
                        =user.category.name
                        each b in categories 
                          option(value=b.id)
                            =b.name
                .col-lg-4
                  .form-group.focused
                    label.form-control-label(for='branch') Branch
                    select#branch.form-control.form-control-alternative(name="branch")
                      option(value=user.branch.id)
                        =user.branch.name
                      each b in branches 
                        option(value=b.id)
                          =b.name                 
              .form-group.focused
                label Description
                textarea.form-control.form-control-alternative(rows='4' placeholder='A few words about you ...' name='description') 
                  =user.description
              .row
                .text-center
                  button.btn.btn-primary.my-4(type='submit') Create
